@model MyOnlineShop.Web.Models.CategoryListModel

<div class="jumbotron">
	<h1>@ViewBag.Title</h1>
</div>

<div>
	@foreach (var category in Model.Categories.OrderBy(i => i.Title))
	{
		<div class="col-md-4">
			<div class="panel panel-primary">
				<div class="panel-heading">
					@category.Title
				</div>
				<div class="panel-body">
					<ul class="list-group">
						@foreach (var good in category.Goods.OrderBy(i => i.Title))
						{
							<li class="list-group-item">@good.Title</li>
						}
					</ul>
				</div>
			</div>
		</div>
	}
</div>

<div class="clearfix"></div>